
body 
//   background-image: url('../assets/images/beauty_li.jpg')
  margin 0
  background $lightGrey

.side_con 
    width 230px
    height 100vh
    color $white!important
    background-color: rgba(0,0,0,.5)!important 
     
.active-item
    background-color: $menuActiveItem !important 